.gtrans-view {
position: fixed;
left: 10px;
top: 10px;
z-index: 1024;
background: rgba(0,0,0,0.8);
color: rgb(240,240,240);
padding: 5px;
}

.basic-tl {
font-size: 110%;
margin-bottom: 5px;
font-weight: bold;
}

.advanced-tl {
margin-left: 5px;
}

.part-of-speech {
font-style: italic;
}
